.category-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem;
  background-color: #f5f5f5;
}

.category-box {
  margin-left: 50px;
  padding: 18px;
  background: #ffffff;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  width: 180px;
  cursor: pointer;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.category-box:hover {
  transform: scale(1.05);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.2);
}

.category-image {
  width: 100%;
  height: 150px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
  background-color: #eee;
}

.category-title {
  font-size: 1.1rem;
  font-weight: bold;
  padding: 1rem;
  color: #2c3e50;
}
.slider-wrapper {
  margin-top: 20px;
  margin-bottom: 40px; /* space between slider and categories */
}

.category-wrapper {
  padding: 20px 40px;
}

.container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}
